body,p,h1,h2,h3,h4,h5,h6,li,span,i,ul,img,a,strong,input{margin:0;padding:0; font-family: "microsoft yahei";}
body{ font-size:14px;}
li{list-style-type:none; float:left;}
a{text-decoration:none;outline: none;}
img{border:none;}
i{font-style:normal}
input,select,textarea{outline:none;text-indent:6px;}
textarea{resize:none;}
div{margin:0 auto;}
.fl{float: left;}
.fr{float: right;}

.wid{
	width: 1100px;
}

.tops{
	display: table;
	line-height: 26px;
	font-size: 12px;
}

.tops span{
	font-family: '宋体';
	color: #c4a66a;
}
.tops i{
	float: right;
	color: #221616;
	font-family: '宋体';
}
.logo{
	width: 100%;
	display: table;
	background-color: #221616;
	text-align: center;
}
.logo img{
	padding: 10px 0 5px 0;
}

.bann{
	width: 100%;
	height: 565px;
	background:url(../img/img1.jpg) center no-repeat;
}

.nav{
	display: table;
	width: 100%;
	border-bottom: 1px solid #a7a7a7;
}
.nav ul{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.nav ul li{
	padding: 45px 30px 35px 0;
	line-height: 40px;
	display: inline-block;
	position: relative;
}
.nav ul li a{
	color: #555;
	font-size: 14px;
}
.nav ul li:after{
	content: '/';
	position: absolute;
	right: -30px;
	top: 45px;
	line-height: 40px;
	color: #555;
}

.nav ul li.acti a{
	color: #c3a56e;
}

.product{
	display: table;
}
.prod-fl{
	width: 536px;
	display: table;
}

.prod-fl h4{
	width: 100%;
	height: 492px;
}
.prod-fl h4 img{
	width: 100%;
	height: 100%;
}
.prod-list{
	width: 100%;
	height: 762px;
	margin-top: 32px;
}

.prod-list-intr{
	width: 534px;
	height: 234px;
	border: 1px solid #cbcbcb;
	margin-top: 34px;
}
.prod-list-intr h5{
	text-align: center;
	padding-top: 12px;
}
.prod-list-intr h3{
	text-align: center;
	font-weight: normal;
	padding-top: 28px;
}
.prod-list-intr h3 b{
	display: block;
	font-weight: normal;
	font-size: 30px;
}

.prod-list-intr h3 i{
	display: block;
	color: #4d4d4b;
	font-size: 12px;
	line-height: 30px;
	margin-bottom: 5px;
}

.prod-list-intr h3 em{
	font-style: normal;
	display: inline-block;
	padding: 8px 10px;
	color: #fff;
	font-size: 12px;
	background-color: #443229;
	letter-spacing: 2px;
}
.prod-fr .prod-list-intr{
	margin-top: 32px;
}

.prod-fr .prod-list h4{
	margin-top: 34px;
}
.product h6{
	margin: 0;
	width: 100%;
	display: table;
	padding: 40px 0;
	text-align: center;
}
.product h6 i{
	display: block;
	color: #443229;
	font-size: 14px;
	font-weight: normal;
}
.product h6 a{
	display: inline-block;
	padding:12px;
	border: 1px solid #afafaf;
	margin-top: 15px;
	font-size: 14px;
	color: #443229;
	font-weight: normal;
	letter-spacing: 2px;
}

.prefer{
	display: table;
}
h5.tits{
	text-align: center;
}
